# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
storybook-static

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# takeshape
.graphqlconfig
.takeshaperc

# cypress
/cypress/videos
/cypress/screenshots

# build cache
*.cache

# intellij
.idea

# sitemap
/public/robots.txt
/public/sitemap*.xml

# Sentry
.sentryclirc

# Generated types
src/types/takeshape.ts

# PWA
/public/sw.*
/public/workbox-*
/public/worker-*
