@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #__next {
    @apply h-full bg-white;
  }
  html,
  body {
    @apply h-full;
  }
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/inter-roman.var.woff2) format('woff2');
  font-named-instance: 'Regular';
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/inter-italic.var.woff2) format('woff2');
  font-named-instance: 'Italic';
}

/* Example of setting custom prose styles, for e.g., dangerouslySetHtml */
@layer base {
  div#example-prose > p {
    @apply text-base text-mainText-900 mt-4;
  }

  div.prose > h3 {
    @apply text-mainText-900;
  }
}

/*
* Hide reCAPTCHA badge
 * https://developers.google.com/recaptcha/docs/faq#id-like-to-hide-the-recaptcha-badge.-what-is-allowed
 */
.grecaptcha-badge { visibility: hidden; }
