@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #__next {
    @apply h-full bg-white;
  }
  html,
  body {
    @apply h-full;
  }
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/inter-roman.var.woff2) format('woff2');
  font-named-instance: 'Regular';
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/inter-italic.var.woff2) format('woff2');
  font-named-instance: 'Italic';
}

@layer base {
  div#product-description > p {
    @apply text-base text-gray-900 mt-4;
  }
  div#product-description > h3 {
    @apply text-sm font-medium text-gray-900 mt-10;
  }
  div#product-description > ul {
    @apply pl-4 list-disc text-sm space-y-2 mt-4;
  }
  div#product-description > li {
    @apply text-gray-600;
  }
}
