name: Run Deployment Tests

on:
  deployment_status:

jobs:
  lighthouse-run:
    if: github.event.deployment_status.state == 'success' && github.event.deployment_status.environment == 'Preview'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Get PR number
        id: pr
        run: |
          number=$(gh pr list --search "${{ github.sha }}" --state open --json number --jq ".[0].number")
          echo "::set-output name=number::$number"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Audit URLs using Lighthouse
        if: steps.pr.outputs.number != ''
        id: lighthouse_audit
        uses: treosh/lighthouse-ci-action@v9
        with:
          urls: |
            ${{ github.event.deployment_status.target_url }}
          configPath: ./.lighthouse/lighthouserc.json
          budgetPath: ./.lighthouse/budget.json
          uploadArtifacts: true
          temporaryPublicStorage: true
          runs: 5

      - name: Format Lighthouse score
        if: steps.pr.outputs.number != ''
        id: format_lighthouse_score
        uses: actions/github-script@v6
        with:
          script: |
            const lighthouseCommentMaker = require('./.lighthouse/lighthouseCommentMaker.js');

            const lighthouseOutputs = {
              manifest: ${{ steps.lighthouse_audit.outputs.manifest }},
              links: ${{ steps.lighthouse_audit.outputs.links }}
            };

            const comment = lighthouseCommentMaker({ lighthouseOutputs });
            core.setOutput("comment", comment);

      - name: Add Lighthouse stats as comment
        if: steps.pr.outputs.number != ''
        uses: marocchino/sticky-pull-request-comment@v2.2.0
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          number: ${{ steps.pr.outputs.number }}
          header: lighthouse
          message: ${{ steps.format_lighthouse_score.outputs.comment }}
