name: PR

on:
  pull_request:
  workflow_dispatch:

env:
  NEXT_TELEMETRY_DISABLED: 1

jobs:
  npm-test:
    name: 'Unit Tests & Hygiene'
    if: github.event.action != 'closed'
    runs-on: ubuntu-latest
    env:
      # Triggers loading env vars from .env.test
      NODE_ENV: test
    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: |
            ~/.npm
            ${{ github.workspace }}/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**.[jt]s', '**.[jt]sx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-

      - name: Install modules
        run: npm ci

      - name: Run typecheck
        run: npm run typecheck

      - name: Run eslint
        run: npm run lint

      - name: Run graphql:validate
        run: npm run graphql:validate

      - name: Run takeshape:validate
        run: npm run takeshape:validate

      - name: Run tests
        run: npm test

  cypress-run:
    name: 'E2E Tests'
    if: github.event.action != 'closed'
    runs-on: ubuntu-latest
    env:
      # Triggers loading env vars from .env.test
      NODE_ENV: test
    steps:
      - uses: actions/checkout@v3

      - name: Cypress run
        uses: cypress-io/github-action@v4
        with:
          build: npm run build
          start: npm start
          wait-on: "http://localhost:3000"

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: artifacts-${{ github.run_id }}
          path: |
            ${{ github.workspace }}/cypress/screenshots
            ${{ github.workspace }}/cypress/videos
